<!DOCTYPE html>
<html lang="zh">

<head>
    <title>热度传媒-综合型网红新媒体商业公司-加入我们</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/static/front/css/common.css?t=1566375920" /><link rel="stylesheet" type="text/css" href="/static/front/css/attr.css?t=1566878253" /><link rel="stylesheet" type="text/css" href="/static/front/css/module.css?t=1567153848" /><link rel="stylesheet" type="text/css" href="/static/front/css/swiper.min.css?t=1566300614" /><link rel="stylesheet" type="text/css" href="/static/front/css/join.css?t=1566987138" /></head>

<body>
    
<div class="pur-container flex flex-center flex-align-center js-control-pur js-hide">
<div class="pur-box js-control-pru-box flex flex-between">
    <div class="pur-row">
    <h3 class="pur-title">直播咨询</h3>
    <div class="flex flex-wrap flex-align-center">
                    <div class="pur-item">
                <a class="flex flex-align-center" target="_blank"   href="https://shang.qq.com/email/stop/email_stop.html?qq=1020477526">
                    <div class="pur-thumb">
                        <img src="/static/front/image/a669f679de71ee8fb02a63034707c376.jpeg">
                    </div>
                    <div class="pur-info">
                        <p>阿斌</p >
                        <p>QQ:1020477526</p >
                    </div>
                </a>
            </div>
            </div>
    </div>
    <div class="pur-row">
    <h3 class="pur-title">短视频咨询</h3>
    <div class="flex flex-wrap flex-align-center">
                    <div class="pur-item">
                <a class="flex flex-align-center" target="_blank" href="https://shang.qq.com/email/stop/email_stop.html?qq=">
                    <div class="pur-thumb">
                        <img src="/static/front/image/2064559bcc02c77fda7d35fbe7a050db.jpeg">
                    </div>
                    <div class="pur-info">
                        <p>韦恩</p >
                        <p>QQ:</p >
                    </div>
                </a>
            </div>
            </div>
    </div>
</div>
</div>
    
    <!-- header common -->
       <div class="arrow-up">
        <img src="/static/front/image/up.png" alt="">
    </div>
    <!-- header common -->
    <div class="slidebar flex flex-column flex-align-end">
        <div class="bar-wrapper flex flex-center flex-align-center">
            <div class="bar flex flex-center flex-align-center">
                <img src="/static/front/image/workwx.png" alt="">
            </div>
            <div class="wechat-code">
                <img src="/static/front/image/workwxCode.png" alt="">
            </div>
        </div>
        <div class="bar-wrapper flex flex-center flex-align-center">
            <div class="bar flex flex-center flex-align-center">
                <img src="/static/front/image/WeChat.png" alt="">
            </div>
            <div class="wechat-code">
                <img src="/static/front/image/bd20e3cf4fd09ea20f5937f6e055856f.jpg">
            </div>
        </div>
        <div class="bar-wrapper flex flex-center flex-align-center">
            <a target="_blank" href="https://weibo.com/redumedia">
                <div class="bar flex flex-center flex-align-center">
                    <img src="/static/front/image/weibo.png" alt="">
                </div>
             </a>
        </div>
        <div class="bar-wrapper flex flex-center flex-align-center">
            <p class="bar-text">010-50855063 转 808</p>
            <div class="bar flex flex-center flex-align-center">
                <img src="/static/front/image/phone.png" alt="">
            </div>
        </div>
    </div>

<header>
        <div class="header-inner flex flex-between flex-align-center">
            <a class="logo" href="">
                <img src="/static/front/image/63dd9e50068fb7641aebbe905ff3ca33.png" alt="logo">
            </a>
            <nav class="nav">
                <ul class="nav-wrapper flex flex-align-center">
                    <li class="nav-item js-nav-active">
                        <a href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a href="/video">短视频</a>
                    </li>
                    <li class="nav-item">
                        <a href="/live">热度直播</a>
                    </li>
                    <li class="nav-item">
                        <a href="/market">网红电商</a>
                    </li>
                    <li class="nav-item">
                        <a href="/entertainment">娱乐演艺</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cooperation">商务合作</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>
            <!-- <div class="flex flex-align-center">
                <img src="/static/front/image/search.png" alt="">
                <a class="login" href="">登录</a>
            </div> -->
        </div>
    </header> 

    <section class="banner">
        <img src="/static/front/image/banner_details.jpg">
    </section>

    <section class="block connect">
        <div class="container">
            <div class="poster flex flex-center">
                <div class="poster-left">
                    <div class="line-000"></div>
                    <div class="poster-logo flex flex-center flex-align-center">
                        <img src="/static/front/image/logo-res.png">
                    </div>
                </div>
                <div class="poster-right m-t-10">
                    <h3 class="font-30 color-000 m-b-30">招募条件</h3>
                    <h4 class="font-18 color-333 m-b-20">从“素人”变“明星”爆发你的小宇宙！</h4>
                    <h4 class="font-18 color-333">歌手、MC、脱口秀、相声、舞蹈、乐器演奏等才艺拥有者男女不限！</h4>
                </div>
            </div>
            <div class="btn-group flex flex-center">
                <a class="btn btn-left flex flex-center flex-align-center js-consolut">马上咨询</a>
                <a href="#formData" class="btn btn-right flex flex-center flex-align-center">签约主播/短视频达人</a>
            </div>
        </div>
    </section>

    <section class="block p-tb-50 bg-f7">
        <div class="container">
            <h2 class="block-title m-b-50 flex flex-center flex-align-center">
                <img src="/static/front/image/title-icon.png" alt="">
                <span class="title-text">基本资料</span>
                <img src="/static/front/image/title-icon.png" alt="">
            </h2>
            <form id="formData" action="#">
                <div class="form-wrapper flex flex-between">
                    <div class="form-left">
                        <h3 class="font-24 color-333 m-b-22">基本信息</h3>
                        <div class="form-item">
                            <select name="type" id="type">
                                                             <option value="" class="placeholder-style" disabled selected>请选择加入意向</option>
                                <option value="0">签约主播</option>
                                <option value="1">短视频达人</option>
                                               
                            </select>
                        </div>
                        <div class="form-item">
                            <select name="city_name" id="city_name">
                                <option value="" class="placeholder-style" disabled selected>请选择城市</option>
                                                                     <option value="北京">北京</option>
                                                                     <option value="西安">西安</option>
                                                                     <option value="成都">成都</option>
                                                                     <option value="重庆">重庆</option>
                                                                     <option value="沈阳">沈阳</option>
                                                                     <option value="杭州">杭州</option>
                                                                     <option value="长沙">长沙</option>
                                                                     <option value="上饶">上饶</option>
                                                                     <option value="白山">白山</option>
                                                                     <option value="兴安盟">兴安盟</option>
                                                                     <option value="通辽">通辽</option>
                                                                     <option value="天津">天津</option>
                                                                     <option value="青岛">青岛</option>
                                                                     <option value="德州">德州</option>
                                                                     <option value="阜阳">阜阳</option>
                                                                     <option value="襄阳">襄阳</option>
                                                                     <option value="沧州">沧州</option>
                                                                     <option value="安宁">安宁</option>
                                                                     <option value="鄂尔多斯">鄂尔多斯</option>
                                                                     <option value="包头">包头</option>
                                                                     <option value="海口">海口</option>
                                                                     <option value="贵阳">贵阳</option>
                                                                     <option value="梅州">梅州</option>
                                                                     <option value="广州">广州</option>
                                                                     <option value="恩施">恩施</option>
                                                                     <option value="赣州">赣州</option>
                                                                     <option value="蚌埠">蚌埠</option>
                                                                     <option value="南通">南通</option>
                                                                     <option value="南京">南京</option>
                                                                     <option value="哈尔滨">哈尔滨</option>
                                                                     <option value="丹东">丹东</option>
                                                                     <option value="黄冈">黄冈</option>
                                                                     <option value="枣庄">枣庄</option>
                                                                     <option value="南昌">南昌</option>
                                                                     <option value="大连">大连</option>
                                                                     <option value="宜昌">宜昌</option>
                                                                     <option value="呼伦贝尔">呼伦贝尔</option>
                                                                     <option value="芜湖">芜湖</option>
                                                                     <option value="乌鲁木齐">乌鲁木齐</option>
                                                                     <option value="信阳">信阳</option>
                                                                     <option value="临沂">临沂</option>
                                                                     <option value="泰州">泰州</option>
                                                                     <option value="烟台">烟台</option>
                                                                     <option value="齐齐哈尔">齐齐哈尔</option>
                                                                     <option value="平顶山">平顶山</option>
                                                                     <option value="济南">济南</option>
                                                                     <option value="赤峰">赤峰</option>
                                                                     <option value="南宁">南宁</option>
                                                                     <option value="无锡">无锡</option>
                                                            </select>
                        </div>
                        <div class="form-item">
                            <input name="true_name" id="true_name" type="text" placeholder="请输入姓名">
                        </div>
                        <div class="form-item">
                            <select name="sex" id="sex">
                                <option value="" class="placeholder-style" disabled selected>性别</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <input name="mobile" id="mobile" type="number"  placeholder="联系手机号码">
                        </div>
                        <div class="form-item">
                            <input name="remark" id="remark" placeholder="其他补充说明（如：特长、个人简介等）">
                        </div>
                    </div>
                    <div class="form-right">
                        <h3 class="font-24 color-333 m-b-22">形象照片</h3>
                        <div  class="upload" >
                             <img src="/static/front/image/upload-img.png">
                            <input id="file"  name="head_pic" type="file" accept="image/*" hidden >
                            <label class="flex flex-center flex-align-center" for="file">上传照片</label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-center m-t-20">
                    <button onclick="checkForm()" class="flex flex-center flex-align-center submit-btn" type="button">提交资料</button>
                </div>
            </form>
        </div>
    </section>

    <section class="block p-tb-50">
        <div class="container">
            <div class="s-header flex flex-align-center">
                <div class="s-col-1">时期</div>
                <div class="s-col-2">课程</div>
                <div class="s-col-3">操作人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step1 录制考核视频</div>
                <div class="s-col-2">视频角度及歌曲类型交流</div>
                <div class="s-col-3">经纪人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step2 直播基础培训</div>
                <div class="s-col-2">妆容、坐姿、直播基础用语及礼节、平台界面介绍、 平台礼物分成、平台规则等</div>
                <div class="s-col-3">经纪人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step3 直播强化培训</div>
                <div class="s-col-2">根据个人特点直播基础用语及礼节实施效果反馈、游客常见问题解答</div>
                <div class="s-col-3">经纪人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step4 粉丝维护及直播节奏培训</div>
                <div class="s-col-2">如何识别游客类型、不同游客维护方式、 直播内容设计、气氛营造及节奏把控</div>
                <div class="s-col-3">经纪人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step5 才艺培训</div>
                <div class="s-col-2">唱歌、舞蹈、乐器等</div>
                <div class="s-col-3">经纪人</div>
            </div>
            <div class="s-row flex flex-align-center">
                <div class="s-col-1">Step6 直播临场控制</div>
                <div class="s-col-2">直播时遇到的任何特殊性或临时性事件处理方式</div>
                <div class="s-col-3">经纪人</div>
            </div>
        </div>
    </section>

    <section class="block p-tb-50 bg-f7">
        <div class="container">
            <h2 class="block-title m-b-50 flex flex-center flex-align-center">
                <img src="/static/front/image/title-icon.png" alt="">
                <span class="title-text">常见问题</span>
                <img src="/static/front/image/title-icon.png" alt="">
            </h2>
            <div class="fqa">
                <div class="fqa-item">
                    <h4 class="question">问：什么是网络主播？</h4>
                    <p class="font-14 color-666 line-height-24">
                        答：视频网站的兴起，为一些乐于分享、有自我展示欲望的网民找到了一个新的互动平台，它吸纳了大量80后、90后的新生代在此聚集、交流。近两年，视频网站更是从视频上传和
                        在线点播的简单功能，变成了可以在线视频直播秀、直播过程中可深度交流，由此也产生了一种新的职业——网络主播。</p>
                </div>
                <div class="fqa-item">
                    <h4 class="question">问：网络主播主要做什么？</h4>
                    <p class="font-14 color-666 line-height-24">
                        答：通过视频网站在线进行即时性演绎，与观众互动，通过不同形式的节目，展现自己的才艺，比如：电台、脱口秀、乐器、唱歌、沙画、动漫等等。</p>
                </div>
                <div class="fqa-item">
                    <h4 class="question">问：从事网络主播能得到什么？</h4>
                    <p class="font-14 color-666 line-height-24">答：通过自己的表演，可以获得支持的观众，成为网络明星，并且在表演的过程中，还可以产生高额的收益。</p>
                </div>
                <div class="fqa-item">
                    <h4 class="question">问：从事网络主播需要什么条件 ?</h4>
                    <p class="font-14 color-666 line-height-24">
                        答：电脑一台、高清摄像头（根据流行趋势选择）、音频设备（麦克风、声卡），安静的直播环境，一个好的直播背景，直播前需要进行妆面和服装的简单搭配。加入我们，这一切
                        都由我们提供您需要的，就是充分展示您的才艺！</p>
                </div>
                <div class="fqa-item">
                    <h4 class="question">问：网络主播的收入待遇如何？</h4>
                    <p class="font-14 color-666 line-height-24">
                        答：视频网站提供线上舞台，主播依靠个人魅力、才艺、表演等吸引观众，观众通过赠送虚拟礼物支持主播，主播依据协议得到保底工资、礼物折现分成和奖金收入等，月薪过万，
                        都是很简单的事情。</p>
                </div>
            </div>
        </div>
    </section>

<footer>
	<section class="footer-container flex flex-between flex-align-center">
		<a class="footer-logo">
			<img src="/static/front/image/63dd9e50068fb7641aebbe905ff3ca33.png" alt="logo">
		</a>
					<div class="footer-address flex-1 flex flex-column flex-center">
				<p class="font-14 m-b-15">咨询电话：010-50855063 转 808</p>
				<p class="font-14 m-b-15">网红商务合作：15011206688</p>
				<p class="font-14 m-b-15">快接单服务：17504675111</p>
				<p class="font-14 m-b-15">城市合伙人：13366767863</p>
				<p class="font-14">公司地址：北京市朝阳区高碑店东亿国际传媒产业园C5-5</p>
			</div>
				
		<div class="qrcode">
			<img src="/static/front/image/bd20e3cf4fd09ea20f5937f6e055856f.jpg" alt="二维码">
		</div>
	</section>
	<div class="copyright flex flex-center">
	<p class="copyright font-14"><a href="https://beian.miit.gov.cn" target="_blank">京ICP备12042662号-1</a> ©2014-2019 www.redu.com.&nbsp;&nbsp;All Rights Reserved. 北京热度文化传媒有限公司
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1278275918'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278275918%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</p>	</div>
</footer>
 
    <div class="shadow">
    <img id="loadingimg" src="/static/front/image/loading.gif" />
</div>
<div class="dailog">
    <div class="close flex flex-center flex-align-center">
        <img src="/static/front/image/close.svg" alt="">
    </div>
    <div class="iframe-wrapper flex flex-center flex-align-center">
        <iframe  id="dailog_frame" src=""></iframe>
    </div>
</div>   

<script type="text/javascript" src="/static/front/js/jquery.min.js?t=1566300614"></script><script type="text/javascript" src="/static/front/js/swiper.min.js?t=1566300614"></script>    <script>
    $('.js-detail').click(function(){
           var url = $(this).attr('url');
//           var typekey = $(this).attr('typekey');
//           if('video' == typekey){
//               $("#dailog_frame").css("min-height","480px");
//           }
//           else{
//               $("#dailog_frame").css("min-height","300px");
//           }
            $('#dailog_frame').attr('src', url);
            $('.shadow').show()
            $('.dailog').css('opacity',0)
            $('.dailog').show()  
       })
       $('.close').click(function(){
           $('.shadow').hide()
           $('.dailog').hide()
           $('#dailog_frame').attr('src', '');
       })
       $('.shadow').click(function(){
           $('.shadow').hide()
           $('.dailog').hide()
           $('#dailog_frame').attr('src', '');
       })
       
    $("#dailog_frame").load(function () {
//        $('#loadingimg').hide()
        var src = $(this).attr('src');
        if(src == ''){
            return;
        }
        var mainheight = $(this).contents().find("body").height();
        if(mainheight > 500){
            mainheight = 500;
        }
        $(this).height(mainheight);
        $('.dailog').css('opacity',1)
//        $('.dailog').show()
    });
    var imgBaseUrl = "/static/front/image";
 </script>
<script type="text/javascript" src="/static/front/js/arrow.js?t=1566987138"></script> 
    <script>
     var isSubmit = false;
    function checkForm()
    {
        if(isSubmit){
            return false;
        }
        if(!$('#type').val()){
            alert('请选择加入意向');
            return false;
        }
        if(!$('#city_name').val()){
            alert('请选择请选择城市');
            return false;
        }
        if(!$('#true_name').val()){
            alert('请填写真实姓名');
            return false;
        }
        if(!$('#sex').val()){
            alert('请选择性别');
            return false;
        }
        if(!$('#mobile').val()){
            alert('请填写手机号码');
            return false;
        }
        var myreg=/^[1][0-9]{10}$/;
        if (!myreg.test($('#mobile').val())){
            alert('手机号格式错误');
            return false;
        }
        var fileInput = $('#file').get(0).files[0];
        if(!fileInput){
            alert('请上传照片');
            return false;
        }

        isSubmit = true;
        var data = new FormData();
            data.append("type", $('#type').val());
            data.append("city_name",$("#city_name").val());
            data.append("true_name",$("#true_name").val());
            data.append("sex",$("#sex").val());
            data.append("mobile",$("#mobile").val());
            data.append("remark",$("#remark").val());
            data.append("head_pic",$("#file").get(0).files[0]);

        $.ajax({
            url: '/front_api/join', // 马上加入 api
            type: 'POST',
            contentType: false,
            data: data ,
            processData: false,
            success:function(info){
                alert(info.msg);
                if(info.code == 1){
                    $('#true_name').val('');
                    $('#mobile').val('');
                    $('#remark').val('');
                }
                isSubmit = false;
            },
            error:function(err){
                alert('提交失败，请稍后再试');
                isSubmit = false;
            }
        });
        
       return true;
    }

        
        $(function () {
            $('#file').on('change', function (e) {
                let reader = null
                if (window.FileReader) {
                    reader = new FileReader()
                } else {
                    console.log('error')
                }
                let file = e.target.files[0]
                reader.readAsDataURL(file)
                reader.onload = function (e) {
                    $('.upload img').attr('src', e.target.result)
                }
            })
        })
    </script>
</body>

</html>